<footer>
  <div class="row"><br /></div>

  <div class="row">
    <div class="" style="text-align: center">
      &copy; 2022 <b>GESTIONNAIRE DU PATRIMOINE</b>
    </div>
    <div class="" style="text-align: center"></div>

    <div class="" style="text-align: center">
      <b>MINISTERE DE L'ECONOMIE ET DES FINANCES </b>
    </div>

    <div class=" " style="color: red; text-align: center">
      Abidjan Plateau-Immeuble Cité Financière, Immeuble Stade
      II-Rez-de-chaussée et Annexe - BP v 181 Abidjan
    </div>
  </div>
  <div class="row"><br /></div>
</footer>
