<br /><br />
<div class="row">
  <div class="col-sm-3 col-md-4"></div>

  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        Structure : DIRECTION DES AFFAIRES FINANCIERES
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre de Matériel Informatique : 250</li>
        <li class="list-group-item">Nombre de Mobilier : 128</li>
        <li class="list-group-item">Nombre de Véhicule : 5</li>
        <li class="list-group-item">Nombre de Autres Matériel : 2</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3 col-md-4"></div>
</div>
