<section id="features">
  <div class="container">
    <div class="section-title">
      <h2>Statistiques</h2>
      <p>
        Conçue pour faciliter la collecte et le suivi de données du patrimoine
        du MEF de façon continue, favoriser la mise œuvre de la comptabilité des
        matières sectorielle et permettre la mise à disposition en temps réel de
        tableaux de bord présentant des statistiques fiables. Cette plateforme
        permettra au Gestionnaire du Patrimoine (GP) du MEF d'atteindre ses
        missions ci-dessous énumérées.
      </p>
    </div>

    <div class="container">
      <div
        class="card"
        style="
          background-color: rgb(183, 244, 224);
          padding-top: 10px;
          padding-bottom: 10px;
        "
      >
        <div class="row align-items-start">
          <div class="col-sm-8 col-md-3">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
            >
              <option selected>-----Sélectionnez un programme------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-sm-8 col-md-3">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
            >
              <option selected>-----Sélectionnez une structure-----</option>
              <option value="1"></option>
            </select>
          </div>
          <div class="col-sm-8 col-md-3">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
            >
              <option selected>-----Selectionnez une catégorie-----</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="col-sm-8 col-md-3">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
            >
              <option selected>-----Sélectionnez une année-----</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <app-struct></app-struct>

    <app-detailsbiens></app-detailsbiens>
  </div>
</section>
