<section id="features" class="features aos-init aos-animate" data-aos="fade-up">
  <div class="container">
    <div class="section-title">
      <h2>A propos</h2>
      <p>
        Conçue pour faciliter la collecte et le suivi de données du patrimoine
        du MEF de façon continue, favoriser la mise œuvre de la comptabilité des
        matières sectorielle et permettre la mise à disposition en temps réel de
        tableaux de bord présentant des statistiques fiables. Cette plateforme
        permettra au Gestionnaire du Patrimoine (GP) du MEF d'atteindre ses
        missions ci-dessous énumérées.
      </p>
    </div>

    <div class="row content">
      <div
        class="col-md-5 aos-init aos-animate"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        <img
          src="assets/img/aboutus.png"
          width="516px"
          height="442px"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-md-7 pt-4 aos-init aos-animate"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <h3 class="decretNumber">
          Décret n° 2021-454 du 08 septembre 2021 portant organisation du
          Ministère de l’Economie et des Finances
        </h3>
        <p class="nameTitleStructure">
          le Gestionnaire du Patrimoine est chargé de :
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> l’enregistrement des ordres de
            mouvement des matières ;
          </li>
          <li>
            <i class="bi bi-check-circle"></i> l’inventaire permanent des
            matières ;
          </li>
          <li>
            <i class="bi bi-check-circle"></i> la vérification de la bonne tenue
            des outils de gestion des matières et la tenue de la comptabilité
            des matières des Gestionnaires de Crédits ;
          </li>
          <li>
            <i class="bi bi-check-circle"></i> la production du rapport de
            gestion pour le compte de l’Ordonnateur en fin d’exercice ;
          </li>
          <li>
            <i class="bi bi-check-circle"></i> la transmission sous la
            responsabilité de l’Ordonnateur, des informations et données au
            Coordonnateur National de la mise en œuvre de la comptabilité des
            matières en vue de leur mise à disposition du comptable public pour
            l’élaboration d’un état de concordance entre le compte de gestion ou
            financier du comptable public et la comptabilité des matières de
            l’Ordonnateur en fin d’exercice.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
