<section id="features">
  <div class="container">
    <div class="section-title">
      <h2>Statistiques</h2>
      <p>
        Conçue pour faciliter la collecte et le suivi de données du patrimoine
        du MEF de façon continue, favoriser la mise œuvre de la comptabilité des
        matières sectorielle et permettre la mise à disposition en temps réel de
        tableaux de bord présentant des statistiques fiables. Cette plateforme
        permettra au Gestionnaire du Patrimoine (GP) du MEF d'atteindre ses
        missions ci-dessous énumérées.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
        <div class="card h-100">
          <div
            class="card-header d-flex align-items-center justify-content-between pb-0"
            id="card-prog1"
          >
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">Programme 1</h5>
              <small class="text-muted">
                Administration Générale
                <br />
              </small>
              <br />
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">Action</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Another action
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Something else here
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
              style="position: relative"
            >
              <div class="d-flex flex-column align-items-center gap-1">
                <h2 class="mb-2">8,258</h2>
                <span>Nombre de Biens</span>
              </div>

              <div class="resize-triggers">
                <div class="expand-trigger">
                  <div style="width: 312px; height: 139px"></div>
                </div>
                <div class="contract-trigger"></div>
              </div>
            </div>
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-primary"
                    ><i class="bx bx-mobile-alt"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Véhicule</h6>
                    <small class="text-muted">Voitures, Motos</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">250</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-success"
                    ><i class="bx bx-closet"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Mobilier de bureau</h6>
                    <small class="text-muted"
                      >Bureaux, Chaises, Meubles, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">1500</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-info"
                    ><i class="bx bx-home-alt"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Matériel de bureau</h6>
                    <small class="text-muted"
                      >Climatiseurs, Photocopieurs, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">849k</small>
                  </div>
                </div>
              </li>
              <li class="d-flex">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-secondary"
                    ><i class="bx bx-football"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Matériel informatique</h6>
                    <small class="text-muted"
                      >Ordinateurs, Imprimantes, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">3000</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
        <div class="card h-100">
          <div
            class="card-header d-flex align-items-center justify-content-between pb-0"
            id="card-prog2"
          >
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">Programme 2</h5>
              <small class="text-muted"
                >Gestion Macroéconomique et politique économique et
                financière</small
              >
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">Action</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Another action
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Something else here
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
              style="position: relative"
            >
              <div class="d-flex flex-column align-items-center gap-1">
                <h2 class="mb-2">8,258</h2>
                <span>Nombre de Biens</span>
              </div>

              <div class="resize-triggers">
                <div class="expand-trigger">
                  <div style="width: 312px; height: 139px"></div>
                </div>
                <div class="contract-trigger"></div>
              </div>
            </div>
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-primary"
                    ><i class="bx bx-mobile-alt"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Véhicule</h6>
                    <small class="text-muted">Voitures, Motos</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">250</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-success"
                    ><i class="bx bx-closet"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Mobilier de bureau</h6>
                    <small class="text-muted"
                      >Bureaux, Chaises, Meubles, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">1500</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-info"
                    ><i class="bx bx-home-alt"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Matériel de bureau</h6>
                    <small class="text-muted"
                      >Climatiseurs, Photocopieurs, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">849k</small>
                  </div>
                </div>
              </li>
              <li class="d-flex">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-secondary"
                    ><i class="bx bx-football"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Matériel informatique</h6>
                    <small class="text-muted"
                      >Ordinateurs, Imprimantes, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">3000</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
        <div class="card h-100">
          <div
            class="card-header d-flex align-items-center justify-content-between pb-0"
            id="card-prog3"
          >
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">Programme 3</h5>
              <small class="text-muted"
                >Trésor et Comptabilité Publique <br
              /></small>
              <br />
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">Action</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Another action
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Something else here
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
              style="position: relative"
            >
              <div class="d-flex flex-column align-items-center gap-1">
                <h2 class="mb-2">8,258</h2>
                <span>Nombre de Biens</span>
              </div>

              <div class="resize-triggers">
                <div class="expand-trigger">
                  <div style="width: 312px; height: 139px"></div>
                </div>
                <div class="contract-trigger"></div>
              </div>
            </div>
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 pb-1" *ngFor="let items of statprog1">
                <div class="avatar flex-shrink-0 me-3">
                  <span [class]="items.spanValue"
                    ><i [class]="items.spanPictoValue"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">{{ items.lib_categorie }}</h6>
                    <small class="text-muted">Voitures, Motos</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">{{ items.nbreBien }}</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
        <div class="card h-100">
          <div
            class="card-header d-flex align-items-center justify-content-between pb-0"
            id="card-prog4"
          >
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">Programme 4</h5>
              <small class="text-muted">Gestion des Financements <br /></small>
              <br />
            </div>
            <div class="dropdown">
              <button
                class="btn p-0"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">Action</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Another action
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Something else here
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
              style="position: relative"
            >
              <div class="d-flex flex-column align-items-center gap-1">
                <h2 class="mb-2">8,258</h2>
                <span>Nombre de Biens</span>
              </div>

              <div class="resize-triggers">
                <div class="expand-trigger">
                  <div style="width: 312px; height: 139px"></div>
                </div>
                <div class="contract-trigger"></div>
              </div>
            </div>
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-primary"
                    ><i class="bx bx-mobile-alt"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Véhicule</h6>
                    <small class="text-muted">Voitures, Motos</small>
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">250</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-success"
                    ><i class="bx bx-closet"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Mobilier de bureau</h6>
                    <small class="text-muted"
                      >Bureaux, Chaises, Meubles, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">1500</small>
                  </div>
                </div>
              </li>
              <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-info"
                    ><i class="bx bx-home-alt"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Matériel de bureau</h6>
                    <small class="text-muted"
                      >Climatiseurs, Photocopieurs, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">849k</small>
                  </div>
                </div>
              </li>
              <li class="d-flex">
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-secondary"
                    ><i class="bx bx-football"></i
                  ></span>
                </div>
                <div
                  class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
                >
                  <div class="me-2">
                    <h6 class="mb-0">Matériel informatique</h6>
                    <small class="text-muted"
                      >Ordinateurs, Imprimantes, ...</small
                    >
                  </div>
                  <div class="user-progress">
                    <small class="fw-semibold">3000</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
