<br />
<span style="color: #ff5b30"><b>Détails des biens concernés :</b> </span>
<hr />
<br />
<div class="card" style="background-color: #fafafa; text-align: center">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Programme</th>
          <th scope="col">Structure</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Bien</th>
          <th scope="col">Marque</th>
          <th scope="col">Reférence</th>
          <th scope="col">Année</th>
          <th scope="col">Date acqui.</th>
          <th scope="col">Source</th>
          <th scope="col">Coût</th>
          <th scope="col">Service</th>
          <th scope="col">Etat</th>
          <th scope="col">Code sticker</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Programme 1</td>
          <td>Direction des Affaires Financières</td>
          <td>Informatique</td>
          <td>Ordinateur portable</td>
          <td>HP</td>
          <td>Core I5</td>
          <td>2023</td>
          <td>10/03/2023</td>
          <td>Budget</td>
          <td>250000</td>
          <td>Service Elaboration du budget</td>
          <td><span class="badge rounded-pill bg-success">Neuf</span></td>
          <td>126</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Programme 1</td>
          <td>Direction des Affaires Financières</td>
          <td>Informatique</td>
          <td>Ordinateur portable</td>
          <td>DELL</td>
          <td>Core I7</td>
          <td>2022</td>
          <td>10/10/2022</td>
          <td>Budget</td>
          <td>1500000</td>
          <td>Service des Applications</td>
          <td><span class="badge rounded-pill bg-success">Neuf</span></td>
          <td>125</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Programme 1</td>
          <td>Direction des Affaires Financières</td>
          <td>Mobilier</td>
          <td>Bureau Agent</td>
          <td></td>
          <td></td>
          <td>2022</td>
          <td>10/10/2022</td>
          <td>Budget</td>
          <td>750000</td>
          <td>Service des Archives</td>
          <td><span class="badge rounded-pill bg-success">Neuf</span></td>
          <td>87</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
